/* @font-face {
  font-family: "Kurka";
  src: local("KurkaLapoyu-Regular"),
    url("./fonts/KurkaLapoyu-Regular.otf") format("otf");
} */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

::selection {
  background-color: #00467f;
}

.App {
  font-family: "Ysabeau Office", sans-serif;
  text-align: center;
  background: #00467f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a5cc82,
    #00467f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a5cc82,
    #00467f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button,
input {
  font-family: inherit;
}

.App footer {
  margin-top: 1em;
}

footer a {
  color: #fff;
  transition: all 0.25s ease-in-out;
}

footer a:hover {
  cursor: pointer;
  color: #00467f;
  text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.94);
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
